# Executables
*.exe
*.out

# Object files
*.o
*.obj

# Build directories
obj/
bin/
build/

# Editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Local execution results
result.txt

# Temporary / local test files
test.cpp